span {
    margin-top: 2%;
    font-size: 150%;
}

.res {
    border: 1px solid #479cd3;
    border-radius: 10px;
    background: lightblue;
    color: black;
}

.label {
    color: white;
    margin-right: 3%;
}

.affichage {
    padding top: 2%;
    padding-bottom: 2%;
    padding-right: 10%;
    padding-left: 45%;
}

.param {
    padding-top: 2%;
    background: linear-gradient( #022841, #479cd3, #479cd3);
    border-radius: 20px;
    border: 1px solid #44aed1;
}

/* pour les li de la page de doc */
li.listdoc {
    float: none;
}