span {
    margin-top: 0.5em;
    font-size: 1.5em;
    color: orange;
}

.label {
    color: deeppink;
    border-bottom: 1px solid;
    margin-right: 0.5em;
}

.affichage {
    align-content: center;
    text-align: center;
    margin-top: 1.5em;
}

.param {
    border: 1px solid #FF6347;
    margin-bottom: 2em;
}