span {
    margin-top: 0.5em;
    font-size: 1.5em;
    color: orange;
}

.label {
    color: white;
    margin-right: 0.5em;
}

.affichage {
    padding top: 2%;
    padding-bottom: 2%;
    padding-right: 10%;
    padding-left: 45%;
}

.param {
    background: linear-gradient( #022841, #479cd3, #479cd3);
    border-radius: 20px;
    border: 1px solid #44aed1;
}