#submit
{
    font-size: 1.6em;
    width: 11em;
    height: 2em;
    text-align: center;
    color: #000;
    background: #444;
    background: linear-gradient(#555,#2c2c2c);
    border-radius: 0.5em;
    border-color: none;
}

.submit
{
    font-size: 1.2em;
    width: auto;
    height: 2em;
    text-align: center;
    color: #DDD;
    background: #444;
    background: linear-gradient(#555,#2c2c2c);
    border-radius: 0.5em;
    border-color: #444;
}

.fieldset
{
    color: #DDD;
    display: flex;
    justify-content: flex-end;
}

