    /* Pour les messages d'erreurs */
    
    p.error {
        color: red;
        font-weight: bold;
    }
    
    body {
        background: linear-gradient(to top, #022841, #479cd3);
    }
    
    fieldset {
        background: linear-gradient(to top bottom, #022841, #479cd3, #479cd3, #022841);
        border-color: #44aed1;
    }