p.error {
    color: red;
    font-weight: bold;
}

body {
    background: linear-gradient( #022841, #479cd3) 0 0 fixed no-repeat;
}

.cart:hover {
    transform: rotate(360deg);
    transition: 0.8s ease-in;
}

.submit {
    font-size: 1.2em;
    width: auto;
    height: 2em;
    text-align: center;
    color: #479cd3;
    background: #444;
    background: linear-gradient(#555, #2c2c2c);
    border-radius: 0.5em;
    border-color: #444;
}

.recherche {
    color: white;
    z-index: 1;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 20%;
}

.logo {
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    flex: left;
    position: absolute;
}

.rech {
    background-image: url("france.png");
    padding-top: 12%;
    padding-right: 10%;
    padding-left: 20%;
    padding-bottom: 14%;
}

.carte {
    top: 10%;
    padding: 2%;
    width: 30%;
    z-index: 10;
    opacity: 0.2;
}

fieldset {
    background: linear-gradient( #022841, #479cd3, #479cd3);
    border-color: #44aed1;
    border-radius: 20px;
    border-style: 4px;
}

.rechrch {
    border-radius: 10px;
    width: 30em;
    height: 3em;
}

ul.topnav li a {
    display: block;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 1.5em;
}

li {
    width: 20em;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background: linear-gradient(darkgray, lightblue);*/
    border-radius: 20px;
    color: #DDD;
    background: #444;
    background: linear-gradient(#2c2c2c, #479cd3, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #555, #479cd3, #2c2c2c);
    border-radius: 0.5em;
    border-color: #444;
}

ul.topnav li {
    float: left;
}

ul.topnav li a:hover:not(.active) {
    color: #479cd3;
    transition: 0.4s ease-in;
}

@media screen and (max-width: 1050px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
}